<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >


<div th:fragment="headerFragment(activeTab)">

<th:block>
    <script th:src="@{/js/common/form-validation.js}"></script>
</th:block>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand text-dark" style="font-weight: bold;" th:href="@{/}">TRIPLus.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a th:href="@{/}" class="nav-link text-dark" style="font-weight: bold;">Home</a></li>
                    <li class="nav-item"><a th:href="@{/total_plan}" class="nav-link text-dark" style="font-weight: bold;">여행일정</a></li>
                    <li class="nav-item"><a th:href="@{/total_place}" class="nav-link text-dark" style="font-weight: bold;">여행지</a></li>
                    <li class="nav-item"><a th:href="@{/plan}" class="nav-link text-dark" style="font-weight: bold;">일정 만들기</a></li>
<!--                    <li class="nav-item"><a th:href="@{/mypage}" class="nav-link text-dark" style="font-weight: bold;">Mypage</a></li>-->

                    <button type="button" data-toggle="modal" data-target="#loginModal"
                            th:class="'btn btn-primary mb-2 mr-sm-2' + (${activeTab == 'login'}? 'active':'')" sec:authorize="!isAuthenticated()">
                        로그인
                    </button>

                    <button type="button" data-toggle="modal" data-target="#joinModal"
                            th:class="'btn btn-primary mb-2 mr-sm-2' + (${activeTab == 'join'}? 'active':'')" sec:authorize="!isAuthenticated()">
                        회원가입
                    </button>

                    <li class="nav-item" th:class="${activeTab == 'mypage'}? 'active':null" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/mypage}" sec:authentication="name"></a>
                    </li>

                    <form th:action="@{/logout}"  th:method="post">
                        <button type="submit" class="btn btn-primary mb-2 mr-sm-2" sec:authorize="isAuthenticated()">로그아웃</button>
                    </form>
                </ul>

            </div>
        </div>
    </nav>


    <div class="modal fade" th:action="@{/}" method="post" name="loginForm" novalidate
         id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                        <h4>로그인</h4>
                    </div>

                    <div class="row justify-content-center">
                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                            <p>이메일 혹은 비밀번호가 정확하지 않습니다.</p>
                            <button type="button" data-toggle="modal" data-target="#joinModal"
                                    th:class="'btn btn-primary mb-2 mr-sm-2' + (${activeTab == 'join'}? 'active':'')" sec:authorize="!isAuthenticated()">
                                회원가입
                            </button>
                        </div>
                    </div>

                    <div class="d-flex flex-column text-center">
                        <form th:action="@{/login}" method="post" name="loginForm" novalidate>
                            <div class="form-group">
                                <input type="email" class="form-control" id="login_email" placeholder="이메일" name = "username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="login_pw" placeholder="비밀번호" name = "password">
                            </div>
                            <small id ="password_help_text" class="form-text text-muted">
                                비밀번호가 기억나지 않으세요? <a href="#" th:href="@{/change-password}">비밀번호 변경 링크 보내기</a>
                            </small>
                            <button type="submit" class="btn btn-primary btn-block btn-round mb-2 mr-sm-2">로그인</button>
                        </form>

                        <div class="d-flex flex-column text-center">
                            <a href="/oauth2/authorization/google" class="btn_social" ><img src="/images/google.png" style="width: 200px; height: 50px"></a>
                            <a href="/oauth2/authorization/google" class="btn_social" ><img src="/images/facebook.png" style="width: 200px; height: 50px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- joinModal !-->
    <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                        <h4>회원가입</h4>
                    </div>
                    <div class="d-flex flex-column text-center">

                        <form class="needs-validation" th:action="@{/join}" method="post" id="joinForm" name="joinForm" novalidate>

                            <!-- 닉네임 -->
                            <div class="form-group" style="float: left; width: 75%">
                                <input type="text" autocomplete="nickname" class="form-control" id="nickname" name="nickname" placeholder="Nickname" required>
<!--                                <div class="check_font" id="nickname_check">닉네임을 입력해주세요.</div>-->
                            </div>

                          <!-- 중복확인 버튼 -->
                            <div class="form-group"	style="float: right; margin-top: 25px" id="divNameCheck">
                                <button type="button" class="btn btn-primary btn-block" name="emailCheck" id="NameCheck">
                                    <span class="glyphicon glyphicon-off"></span> 중복확인
                                </button>
                            </div>

                            <!-- 이메일 -->
                            <div class="form-group">

                                <input type="email" autocomplete="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                <div class="invalid-feedback">
                                    이메일을 입력해주세요.
                                </div>


                            <!-- 비밀번호 -->
                            <div class="form-group">
                                <input type="password" autocomplete="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                <div class="invalid-feedback">
                                    비밀번호를 입력해주세요.
                                </div>
                            </div>

                            <hr class="col-12 my-4">

                            <!-- 약관 -->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="agreement" value="true" name="checklist">
                                <label class="form-check-label" for="agreement">회원가입 약관에 동의합니다.</label>
                                <div class="invalid-feedback">약관에 동의하셔야 합니다.</div>
                            </div>

                            <hr class="col-12 my-4">
                            <button type="submit" class="btn btn-primary btn-block btn-round mb-2 mr-sm-2">Join</button>
                            </div>
                        </form>

                        <!-- join modal 끝 !-->

                    </div>
                </div>
            </div>
        </div>


    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v9.0" nonce="3sFZh7TM"></script>

    </div>

</div>


</html>