<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<main class="main-content slide-left" id="main-content" role="main">
    <section class="dialog auth-dialog">
        <div class="dialog-content">
            <form action="needs-validation" th:action="@{/password-issue}" method="post" name="loginForm" novalidate>
                <h1>비밀번호 재설정</h1>
                <p>가입하신 이메일 주소로 비밀번호 재설정 메일을 보내드립니다.</p>
                <div class="form-group mb-2">
                    <input type="email" name="email" id="email" class="form-control" placeholder="이메일" autofocus="">
                    <div class="invalid-feedback">필수 사항입니다.</div>
                    <small hidden="true" id="email_help_text" class="form-text text-muted">
                        가입 시 사용하신 이메일을 입력하세요.
                    </small>
                </div>
                <div class="btn-wrapper">
                    <button type="submit" class="btn btn-primary btn-block btn-loading">이메일 보내기</button>
                </div>

            </form>
        </div>
    </section>
</main>

<!--               비밀번호 재설정 - 경고
<div class="modal-pwi fade-pwi" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="warning-modal-label" style="display: block; padding-right: 16px;" aria-hidden="true">
    <div class="modal-dialog-pwi modal-sm" role="document">
        <div class="modal-content-pwi">
            <div class="modal-header-pwi pb-0">
                <h5 id="warning-modal-label" class="modal-title">알림</h5>
                <button type="button" class="btn btn-icon btn-close" data-dismiss="modal" aria-label="닫기"><i class="fal fa-times"></i></button>
            </div>
            <div class="modal-body-pwi">
                <div id="modal-alert-message">입력하신 이메일 주소로 가입한 계정을 찾을 수 없습니다. <br>올바른 이메일 주소를 입력하셨는지 다시 한번 확인해주세요. <br></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary focus" data-dismiss="modal" id="modal-alert-confirm">확인</button>
            </div>
        </div>
    </div>
</div>
가입하신 이메일 주소로 비밀번호 재설정 메일을 전송했습니다. 비밀번호 재설정 메일의 링크를 클릭하면 새 비밀번호를 설정할 수 있습니다.</div>-->

</html>

