<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/common_layout">

<div layout:fragment="content">
	<section class="ftco-section contact-section ftco-degree-bg">
		<div class="container">
			<div class="row d-flex contact-info">
				<div class="row col-md-12 mb-3">
					<h2 th:text="${item.placeName}"></h2>
					<input type="hidden" id="content_id" name="content_id" th:value="${content_id}">
					<input type="hidden" id="mapX" th:value="${item.mapX}">
					<input type="hidden" id="mapY" th:value="${item.mapY}">
					<button type="button" id="like" class="btn btn-primary ml-3 mb-2">
						찜하기
					</button>
				</div>

				<div class="col-md-4">
					<p><span>Address :</span> <span th:text="${item.addr1}"></span></p>
				</div>
				<div class="col-md-4">
					<p><span>Phone :</span> <a href="#" th:text="${item.tel}"></a></p>
				</div>
				<div class="col-md-4">
					<p><span>Website :</span> <span th:remove="tag" th:utext="${item.homepage}"></span></p>
				</div>

			</div>

			<hr>

				<div class="row block-9">
					<div class="col-md-8">
						<div class="row">
							<th:block th:each="imageUrl : ${item.imageUrls}">
								<div class="col-md-6 col-lg-4 ftco-animate fadeInUp ftco-animated">
									<div class="destination">
										<a href="#" class="img img-2 d-flex justify-content-center align-items-center" th:style="'background:url(' + ${imageUrl} + '); background-size: cover; background-repeat: no-repeat;'" />
										<div class="icon d-flex justify-content-center align-items-center">
											<i class="fas fa-search"></i>
										</div>
										</a>
									</div>
								</div>
							</th:block>
						</div>

						<div class="overview">
							<div th:remove="tag" th:utext="${item.overview}"></div>
						</div>

						<!-- Comments	-->

						<div class="pt-5">
							<!-- comment 개수-->
							<h3 class="mb-5">
								<span id="comment_cnt"  th:text="${#lists.isEmpty(reviews)} ? 0 : ${#lists.size(reviews)}"></span>
								Comments
							</h3>

							<ul class="comment-list">
								<th:block th:each="review : ${reviews}">
									<li class="comment">
										<div class="vcard bio">
											<img src="images/person_1.jpg" alt="Image placeholder">
										</div>
										<div class="comment-body">
											<input type="hidden" id="review_id" th:value="${review.id}">
											<button type="button" class="btn btn-primary mb-2 mr-sm-2 review_edit">
												수정
											</button>
											<button type="button" class="btn btn-primary mb-2 mr-sm-2 review_del">
												삭제
											</button>
											<h3 th:text="${review.title}"></h3>
											<div class="meta" th:text="${review.regdate}">June 27, 2018 at 2:21pm</div>
											<p th:text="${review.content}">review</p>
										</div>
									</li>
								</th:block>

							</ul>
							<!-- END comment-list -->

						<div class="comment-form-wrap pt-5">
							<h3 class="mb-5">리뷰 작성하기</h3>
							<form th:action="@{/register_review}" class="p-5 bg-light" method="post">
								<div class="form-group">
									<label for="message">Message</label>
									<textarea name="content" id="message" cols="30" rows="10" class="form-control"></textarea>
								</div>
								<div class="form-group text-right">
									<input type="submit" value="등록" class="btn btn-primary">
								</div>
								<input type="hidden" name="content_id" th:value="${content_id}">
							</form>
						</div>

					</div>

				</div>


					<div class="col-md-4">
						<div id="map" style="width:500px;height:400px;"></div>

						<div class="sidebar ftco-animate fadeInUp ftco-animated pt-5">
							<div class="ftco-animate fadeInUp ftco-animated">
								<h3>인근 명소</h3>

								<th:block th:each="place : ${recommendPlaces_attraction}">
									<th:block th:if="${place.imageUrl}">
										<div class="col-12 ftco-animate fadeInUp ftco-animated">
											<div class="block-21 mb-4 d-flex">
												<a class="blog-img mr-4" th:style="'background:url(' + ${place.imageUrl} + '); background-size: cover; background-repeat: no-repeat;'"></a>
												<div class="text">
													<h3 class="heading"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.placeName}"></a></h3>
													<p th:text="${place.addr1}"></p>
												</div>
											</div>
										</div>
									</th:block>
								</th:block>

							</div>

							<div class="ftco-animate fadeInUp ftco-animated pt-5">
								<h3>인근 음식점</h3>
								<th:block th:each="place : ${recommendPlaces_food}">
									<th:block th:if="${place.imageUrl}">
										<div class="col-12 ftco-animate fadeInUp ftco-animated">
											<div class="block-21 mb-4 d-flex">
												<a class="blog-img mr-4" th:style="'background:url(' + ${place.imageUrl} + '); background-size: cover; background-repeat: no-repeat;'"></a>
												<div class="text">
													<h3 class="heading"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.placeName}"></a></h3>
													<p th:text="${place.addr1}"></p>
												</div>
											</div>
										</div>
									</th:block>
								</th:block>
						</div>
					</div>

				</div>

			</div>

		</div>
	</section>


	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bc432fd045ad14beed4b716d3e34e429"></script>
	<script th:inline="javascript">

		$(document).ready(function(){
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div
			mapOption = {
				center: new kakao.maps.LatLng($("#mapY").val(), $("#mapX").val()), // 지도의 중심좌표
				level: 6 // 지도의 확대 레벨
			};

			var map = new kakao.maps.Map(mapContainer, mapOption);

			var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png', // 마커이미지의 주소입니다
				imageSize = new kakao.maps.Size(32, 34), // 마커이미지의 크기입니다
				imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

			// 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
			var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
				markerPosition = new kakao.maps.LatLng($("#mapY").val(), $("#mapX").val()); // 마커가 표시될 위치입니다

			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
			  position: markerPosition,
			  image: markerImage // 마커이미지 설정
			});

			// 마커가 지도 위에 표시되도록 설정합니다
			marker.setMap(map);

			// 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
			var content = '<div class="customoverlay">' +
				'  <a href="https://map.kakao.com/link/map/11394059" target="_blank">' +
				'    <span class="title">'+ $(".contact-info").find("h2").text() +'</span>' +
				'  </a>' +
				'</div>';

			// 커스텀 오버레이가 표시될 위치입니다
			var position = new kakao.maps.LatLng($("#mapY").val(), $("#mapX").val());

			// 커스텀 오버레이를 생성합니다
			var customOverlay = new kakao.maps.CustomOverlay({
				map: map,
				position: position,
				content: content,
				yAnchor: 1
			});

			var messageDTO={
				content_id: contentId
			};

			// 수정하기 눌렀을 때
			$(".review_edit").click(function(){
				console.log('리뷰 수정 !!');
				console.log($(this).parent().find('p'));
			});

			// 삭제하기 눌렀을 때
			$(".review_del").click(function(){

				console.log('리뷰 삭제 !!');
				var commentCnt = $("#comment_cnt").text();
				var id = $(this).parent().find('#review_id').val();
				console.log(id);

				$.ajax({
				url: "/detail/remove",
				data: {id:id},
				type:"get",
				dataType:"json",
				contentType: 'application/text; charset=UTF-8',
				success: function(response){
					console.log('성공');
					console.log(response);
				},
				error: function (response) {
					console.log('에러');
					console.log(response);
				}
				});

				$(this).parent().parent().remove();
				$("#comment_cnt").text(--commentCnt);

			});

		 	// 찜하기 눌렀을 때
			$("#like").click(function(){
				console.log(contentId);
				console.log(messageDTO);

				$.ajax({
				url: "/detail/like",
				data: messageDTO,
				type:"get",
				dataType:"json",
				success: function(response){
					console.log(response['message']);
					if(response['result']){
						$("#like").text	('찜했음!');
					}
					else{
						$("#like").text('이미 찜했음!');
					}
				},
				error: function (response) {
					console.log(response['message']);
					$("#like").text('찜오류!');
				}
				}).done(function(){
				console.log('끗!');
				});

		});


		});
	</script>
</div>
</html>