<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div layout:fragment="content">

    <body>
    <section class="ftco-section contact-section ftco-degree-bg">
        <div class="container">
            <div class="row">

                <ul class="nav nav-tabs flex-column col-3" role="tablist">
                    <a class="active text-center" th:href="@{/mypage}"><i class="fas fa-user-circle fa-10x mb-2 mr-sm-2"></i></a>
                    <p class="text-center" th:text="${nickName}"></p>

                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#myPlan" style="font-weight: bold; font-size: 18px"><i class="far fa-calendar-alt fa-lg mb-2 mr-sm-2"></i>내 일정 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#myReview" style="font-weight: bold; font-size: 18px"><i class="far fa-comment fa-lg mb-2 mr-sm-2"></i>내 리뷰 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#myLike" style="font-weight: bold; font-size: 18px"><i class="fas fa-star fa-lg mb-2 mr-sm-2"></i>찜 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#myInfo" style="font-weight: bold; font-size: 18px"><i class="fas fa-cog fa-lg mb-2 mr-sm-2"></i>내 정보 관리</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content col-9">

                    <div id="myPlan" class="container tab-pane active"><br>
                        <div class="content">
                            <div class="col-md-12 text-center">
                                <h2 class="mb-4"><i class="far fa-calendar-alt"></i> 내 일정 보기</h2>
                            </div>
                        </div>
                    </div>
                    <div id="myReview" class="container tab-pane fade"><br>
                        <div class="content">
                            <div class="col-md-12 text-center">
                                <h2 class="mb-4"><i class="far fa-comment"></i> 내 리뷰 보기</h2>
                            </div>

                            <div class="review_sort_box">
                                <select id name class="review_sort">
                                    <option value="regdate">등록순</option>
                                    <option value="name">이름순</option>
                                </select>
                            </div>

                            <div class="review_list">
                                <p>
                                    <label class="review_place_name">장소명  </label>
                                    <img class="review_place_image" th:src="@{/images/destination-5.jpg}" alt="review_place_image" width="80" height="70" style="margin:10px">
                                    <input class="review_place_content" type="text" value="리뷰내용" style="width:500px; height:70px;">
                                    <button type="button" class="btn btn-primary mb-2 mr-sm-2">
                                        삭제
                                    </button>
                                </p>
                                <p>
                                    <label class="review_place_name">장소명  </label>
                                    <img class="review_place_image" th:src="@{/images/destination-5.jpg}" alt="review_place_image" width="80" height="70" style="margin:10px">
                                    <input class="review_place_content" type="text" value="리뷰내용" style="width:500px; height:70px;">
                                    <button type="button" class="btn btn-primary mb-2 mr-sm-2">
                                        삭제
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="myLike" class="container tab-pane fade"><br>
                        <div class="content">
                            <div class="col-md-12 text-center">
                                <h2 class="mb-4"><i class="fas fa-star"></i> 찜목록</h2>
                            </div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home">관광명소</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu1">음식점</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu2">쇼핑</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu3">축제</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="home" class="container tab-pane active"><br>
                                    <div class="row d-flex">
                                        <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                            <div class="blog-entry align-self-stretch">
                                                <a th:href="@{/tour}" class="block-20" style="background-image: url('images/image_1.jpg');">
                                                </a>
                                                <div class="text p-4 d-block">
                                                    <span class="tag">Tips, Travel</span>
                                                    <h3 class="heading mt-3"><a th:href="@{/tour}">8 Best homestay in Philippines that you don't miss out</a></h3>
                                                    <div class="meta mb-3">
                                                        <div><a th:href="@{/tour}">August 12, 2018</a></div>
                                                        <div><a th:href="@{/tour}">Admin</a></div>
                                                        <div><a th:href="@{/tour}" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                            <div class="blog-entry align-self-stretch">
                                                <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
                                                </a>
                                                <div class="text p-4">
                                                    <span class="tag">Culture</span>
                                                    <h3 class="heading mt-3"><a th:href="@{/tour}">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                                    <div class="meta mb-3">
                                                        <div><a th:href="@{/tour}">August 12, 2018</a></div>
                                                        <div><a th:href="@{/tour}">Admin</a></div>
                                                        <div><a th:href="@{/tour}" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                            <div class="blog-entry align-self-stretch">
                                                <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
                                                </a>
                                                <div class="text p-4">
                                                    <span class="tag">Tips, Travel</span>
                                                    <h3 class="heading mt-3"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                                    <div class="meta mb-3">
                                                        <div><a href="#">August 12, 2018</a></div>
                                                        <div><a href="#">Admin</a></div>
                                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                            <div class="blog-entry align-self-stretch">
                                                <a href="blog-single.html" class="block-20" style="background-image: url('images/image_4.jpg');">
                                                </a>
                                                <div class="text p-4">
                                                    <span class="tag">Tips, Travel</span>
                                                    <h3 class="heading mt-3"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                                    <div class="meta mb-3">
                                                        <div><a href="#">August 12, 2018</a></div>
                                                        <div><a href="#">Admin</a></div>
                                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu1" class="container tab-pane fade"><br>
                                    <div class="row">
                                        <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                                            <div class="destination">
                                                <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-1.jpg);">
                                                    <div class="icon d-flex justify-content-center align-items-center">
                                                        <span class="icon-search2"></span>
                                                    </div>
                                                </a>
                                                <div class="text p-3">
                                                    <div class="d-flex">
                                                        <div class="one">
                                                            <h3><a href="#">Paris, Italy</a></h3>
                                                            <p class="rate">
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star-o"></i>
                                                                <span>8 Rating</span>
                                                            </p>
                                                        </div>
                                                        <div class="two">
                                                            <span class="price">$200</span>
                                                        </div>
                                                    </div>
                                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                                    <p class="days"><span>2 days 3 nights</span></p>
                                                    <hr>
                                                    <p class="bottom-area d-flex">
                                                        <span><i class="icon-map-o"></i> San Franciso, CA</span>
                                                        <span class="ml-auto"><a href="#">Discover</a></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                                            <div class="destination">
                                                <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-2.jpg);">
                                                    <div class="icon d-flex justify-content-center align-items-center">
                                                        <span class="icon-search2"></span>
                                                    </div>
                                                </a>
                                                <div class="text p-3">
                                                    <div class="d-flex">
                                                        <div class="one">
                                                            <h3><a href="#">Paris, Italy</a></h3>
                                                            <p class="rate">
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star-o"></i>
                                                                <span>8 Rating</span>
                                                            </p>
                                                        </div>
                                                        <div class="two">
                                                            <span class="price">$200</span>
                                                        </div>
                                                    </div>
                                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                                    <p class="days"><span>2 days 3 nights</span></p>
                                                    <hr>
                                                    <p class="bottom-area d-flex">
                                                        <span><i class="icon-map-o"></i> San Franciso, CA</span>
                                                        <span class="ml-auto"><a href="#">Discover</a></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                                            <div class="destination">
                                                <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-3.jpg);">
                                                    <div class="icon d-flex justify-content-center align-items-center">
                                                        <span class="icon-search2"></span>
                                                    </div>
                                                </a>
                                                <div class="text p-3">
                                                    <div class="d-flex">
                                                        <div class="one">
                                                            <h3><a href="#">Paris, Italy</a></h3>
                                                            <p class="rate">
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star-o"></i>
                                                                <span>8 Rating</span>
                                                            </p>
                                                        </div>
                                                        <div class="two">
                                                            <span class="price">$200</span>
                                                        </div>
                                                    </div>
                                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                                    <p class="days"><span>2 days 3 nights</span></p>
                                                    <hr>
                                                    <p class="bottom-area d-flex">
                                                        <span><i class="icon-map-o"></i> San Franciso, CA</span>
                                                        <span class="ml-auto"><a href="#">Discover</a></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu2" class="container tab-pane fade"><br>
                                    <h3>쇼핑</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>
                                <div id="menu3" class="container tab-pane fade"><br>
                                    <h3>축제</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="myInfo" class="container tab-pane fade"><br>
                        <div class="content">
                            <div class="col-md-12 text-center">
                                <h2 class="mb-4"><i class="fas fa-cog"></i> 내 정보 관리</h2>
                            </div>

                            <table width="500" height="600" border="2" align="center" rules="none">
                                <tr align="center">
                                    <td width="20%" style="font-weight: bold">ID</td>
                                    <td width="80%"><input type="text"></td>
                                </tr>

                                <tr align="center">
                                    <td width="20%" style="font-weight: bold">Email</td>
                                    <td width="80%"><input type="text"></td>
                                </tr>

                                <tr align="center">
                                    <td width="20%" style="font-weight: bold">Password</td>
                                    <td width="80%"><input type="password"></td>
                                </tr>

                                <tr align="center">
                                    <td width="20%" style="font-weight: bold">Phone</td>
                                    <td width="80%"><input type="text"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="2"><button type="button" id="save" class="btn btn-primary mb-2 mr-sm-2">
                                        수정
                                    </button></td>
                                </tr>

                                <tr align="right">
                                    <td colspan="2"><a href="#" style="font-weight: bold">탈퇴하기</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    </body>
</div>
</html>