<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/common_layout">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div layout:fragment="content">

    <body>
    <section class="ftco-section contact-section ftco-degree-bg">
        <div class="container">
            <div class="row">

                <ul class="nav nav-tabs flex-column col-3" role="tablist">
                    <a class="active text-center" th:href="@{/mypage}"><i class="fas fa-user-circle fa-10x mb-2 mr-sm-2"></i></a>

                    <p class="text-center" th:text="${nickName} + '님 환영합니다'"></p>


                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#myPlan" style="font-weight: bold; font-size: 18px"><i class="far fa-calendar-alt fa-lg mb-2 mr-sm-2"></i>내 일정 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#myReview" style="font-weight: bold; font-size: 18px"><i class="far fa-comment fa-lg mb-2 mr-sm-2"></i>내 리뷰 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#myLike" style="font-weight: bold; font-size: 18px"><i class="fas fa-star fa-lg mb-2 mr-sm-2"></i>찜 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#myInfo" style="font-weight: bold; font-size: 18px"><i class="fas fa-cog fa-lg mb-2 mr-sm-2"></i>내 정보 관리</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content col-9">

                    <!-- myPlan -->
                    <div id="myPlan" class="container tab-pane active"><br>
                        <div class="content">
                            <div class="col-md-12 text-center">
                                <h2 class="mb-4"><i class="far fa-calendar-alt"></i> 내 일정 보기</h2>
                            </div>
                            <div class="row">
                                <th:block th:each="plan : ${planList}">
                                <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                                    <div class="destination">
                                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" th:style="'background:url(' + ${plan.image} + '); background-size: cover; background-repeat: no-repeat;'">
                                            <div class="icon d-flex justify-content-center align-items-center">
                                                <span class="icon-search2"></span>
                                            </div>
                                        </a>
                                        <div class="text p-3">
                                            <div class="d-flex">
                                                <div class="one">
                                                    <h3><a th:text="${plan.name}">나의 첫번째 여행</a></h3>
                                                </div>
                                                <div class="two">
                                                    <a th:text="${plan.liked}"></a>
                                                </div>
                                            </div>
                                            <p class="days"><a th:text="${plan.update}"></a></p>
                                            <hr>
                                            <p class="bottom-area d-flex">
                                                <span><i class="icon-map-o"></i> San Franciso, CA</span>
                                                <span class="ml-auto"><a href="#">Discover</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <!-- myReview -->
                    <div id="myReview" class="container tab-pane fade"><br>
                        <div class="content">
                            <div class="col-md-12 text-center">
                                <h2 class="mb-4"><i class="far fa-comment"></i> 내 리뷰 보기</h2>
                            </div>

                            <div class="review_sort_box mb-4">
                                <select id name class="review_sort">
                                    <option value="regdate">등록순</option>
                                    <option value="name">이름순</option>
                                </select>
                            </div>

                            <form th:action="@{/delete_review}" method="post" name="reviewForm">
                            <th:block th:each="review : ${reviewList}">
                            <div class="review_list mb-5">
                                <div class="row ml-1">
                                    <h6 class="review_place_name mr-2" th:text="${review.place.name}"></h6>
                                    <p class="review_place_name" th:text="${review.regdate}"></p>
                                </div>
                                    <img class="blog-img placeImage" th:style="'background:url(' + ${review.place.thumbnailUrl}" width="80" height="70" style="margin:10px">
                                    <input class="review_place_content" th:value="${review.content}" style="width:600px; height:70px;">
								<div class="form-group">
									<input type="submit" value="삭제" class="btn btn-primary">
								</div>
                                </div>
                            </th:block>
                            </form>
                        </div>
                    </div>

                    <!-- myLike -->
                    <div id="myLike" class="container tab-pane fade"><br>
                        <div class="content">
                            <div class="col-md-12 text-center">
                                <h2 class="mb-4"><i class="fas fa-star"></i> 찜목록</h2>
                            </div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#attraction" style="font-weight: bold;">관광명소</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#food" style="font-weight: bold;">음식점</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#shop" style="font-weight: bold;">쇼핑</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#festival" style="font-weight: bold;">축제</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="attraction" class="container tab-pane fade active show"><br>
                                    <div class="row">
                                    <th:block th:each="place : ${attractionList}">
                                        <div class="col-md-4 d-flex ftco-animate fadeInUp ftco-animated">
                                            <div class="blog-entry align-self-stretch">
                                                <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl}">
                                                </a>
                                                <div class="text p-4 d-block">
                                                    <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                                    <div class="meta mb-3">
                                                        <div><a th:text="${place.addr1}"></a></div>
                                                        <div><span><i class="fas fa-heart"></i> 3</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </th:block>
                                    </div>
                                </div>

                                <div id="food" class="container tab-pane fade"><br>
                                    <div class="row">
                                    <th:block th:each="place : ${foodList}">
                                        <div class="col-md-4 d-flex ftco-animate fadeInUp ftco-animated">
                                            <div class="blog-entry align-self-stretch">
                                                <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl}">
                                                </a>
                                                <div class="text p-4 d-block">
                                                    <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                                    <div class="meta mb-3">
                                                        <div><a th:text="${place.addr1}"></a></div>
                                                        <div><span><i class="fas fa-heart"></i> 3</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </th:block>
                                    </div>
                                </div>

                                <div id="shop" class="container tab-pane fade"><br>
                                    <div class="row">
                                    <th:block th:each="place : ${shopList}">
                                        <div class="col-md-4 d-flex ftco-animate fadeInUp ftco-animated">
                                            <div class="blog-entry align-self-stretch">
                                                <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl}">
                                                </a>
                                                <div class="text p-4 d-block">
                                                    <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                                    <div class="meta mb-3">
                                                        <div><a th:text="${place.addr1}"></a></div>
                                                        <div><span><i class="fas fa-heart"></i> 3</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </th:block>
                                    </div>
                                </div>


                                <div id="festival" class="container tab-pane fade"><br>
                                    <div class="row">
                                    <th:block th:each="place : ${festivalList}">
                                        <div class="col-md-4 d-flex ftco-animate fadeInUp ftco-animated">
                                            <div class="blog-entry align-self-stretch">
                                                <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl}">
                                                </a>
                                                <div class="text p-4 d-block">
                                                    <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                                    <div class="meta mb-3">
                                                        <div><a th:text="${place.addr1}"></a></div>
                                                        <div><span><i class="fas fa-heart"></i> 3</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </th:block>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- myInfo -->
                    <div id="myInfo" class="container tab-pane fade"><br>
                        <div class="content">
                            <div class="col-md-12 text-center">
                                <h2 class="mb-4"><i class="fas fa-cog"></i> 내 정보 관리</h2>
                            </div>

                            <table width="500" height="600" border="2" align="center" rules="none">
                                <tr align="center">
                                    <td width="20%" style="font-weight: bold">Nickname</td>
                                    <td width="80%"><input type="text" th:value="${nickName}"></td>

                                </tr>

                                <tr align="center">
                                    <td width="20%" style="font-weight: bold">Email</td>
                                    <td width="80%"><input type="text" th:value="${email}" readonly></td>
                                </tr>

                                <tr align="center">
                                    <td width="20%" style="font-weight: bold">Password</td>
                                    <td width="80%"><input type="password" th:value="${password}"></td>
                                </tr>

                                <tr align="center">
                                    <td width="20%" style="font-weight: bold">Confirm Password</td>
                                    <td width="80%"><input type="text" th:value="${password}"></td>
                                </tr>

                                <tr align="center">
                                    <td colspan="2"><button type="button" id="save" class="btn btn-primary mb-2 mr-sm-2">
                                        수정
                                    </button>
                                        <button type="button" th:action="@{/mypage/delete}" th:method="post"
                                                id="delete" class="btn btn-primary mb-2 mr-sm-2">
                                            탈퇴
                                        </button></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    </body>


</div>
</html>