<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- stylesheets css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/loaders.css"/>
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="css/hover-min.css">
    <link rel="stylesheet" href="css/contact-input-style.css">


</head>
<body>

<div layout:fragment="content">
    <!------------ Gallery section ------------>
    <section id="hotels" class="parallax">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 text-center">
                        <div class="wow fadeInUp section-title" data-wow-delay="1s">
                            <h2>Best Hotels out there<small>The great advantage of a hotel is that it is a refuge from home life.</small></h2>
                        </div>
                    </div>

                    <!-- iso section -->
                    <div class="iso-section wow fadeInUp text-center" data-wow-delay="0.5">

                        <ul class="filter-wrapper clearfix">
                            <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                            <li><a href="#" class="opc-main-bg" data-filter=".london">London</a></li>
                            <li><a href="#" class="opc-main-bg" data-filter=".paris">Paris</a></li>
                            <li><a href="#" class="opc-main-bg" data-filter=".ny">New York</a></li>
                            <li><a href="#" class="opc-main-bg" data-filter=".hn">Hong Kong</a></li>
                        </ul>

                        <!-- iso box section -->
                        <div class="iso-box-section wow fadeInUp" data-wow-delay="0.9s">
                            <div class="iso-box-wrapper col4-iso-box">

                                <div class="iso-box london paris ny col-md-4 col-sm-6">
                                    <div class="gallery-thumb">
                                        <a href="images/hotel-01.jpg" data-lightbox-gallery="food-gallery">
                                            <img src="images/hotel-01.jpg" class="fluid-img" alt="Gallery">
                                            <div class="gallery-overlay">
                                                <div class="gallery-item">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <h3>Hotel Name</h3>
                                </div>

                                <div class="iso-box london ny hn col-md-4 col-sm-6">
                                    <div class="gallery-thumb">
                                        <a href="images/hotel-02.jpg" data-lightbox-gallery="food-gallery">
                                            <img src="images/hotel-02.jpg" class="fluid-img" alt="Gallery">
                                            <div class="gallery-overlay">
                                                <div class="gallery-item">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <h3>Hotel Name Two</h3>
                                </div>

                                <div class="iso-box hn col-md-4 col-sm-6">
                                    <div class="gallery-thumb">
                                        <a href="images/hotel-03.jpg" data-lightbox-gallery="food-gallery">
                                            <img src="images/hotel-03.jpg" class="fluid-img" alt="Gallery">
                                            <div class="gallery-overlay">
                                                <div class="gallery-item">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <h3>Hotel Name Three</h3>
                                </div>

                                <div class="iso-box london col-md-4 col-sm-6">
                                    <div class="gallery-thumb">
                                        <a href="images/hotel-04.jpg" data-lightbox-gallery="food-gallery">
                                            <img src="images/hotel-04.jpg" class="fluid-img" alt="Gallery">
                                            <div class="gallery-overlay">
                                                <div class="gallery-item">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <h3>Hotel Name Four</h3>
                                </div>

                                <div class="iso-box ny col-md-4 col-sm-6">
                                    <div class="gallery-thumb">
                                        <a href="images/hotel-05.jpg" data-lightbox-gallery="food-gallery">
                                            <img src="images/hotel-05.jpg" class="fluid-img" alt="Gallery">
                                            <div class="gallery-overlay">
                                                <div class="gallery-item">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <h3>Hotel Name Five</h3>
                                </div>

                                <div class="iso-box paris lunch col-md-4 col-sm-6">
                                    <div class="gallery-thumb">
                                        <a href="images/hotel-06.jpg" data-lightbox-gallery="food-gallery">
                                            <img src="images/hotel-06.jpg" class="fluid-img" alt="Gallery">
                                            <div class="gallery-overlay">
                                                <div class="gallery-item">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <h3>Hotel Name Six</h3>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/nivo-lightbox.min.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/core.js"></script>

</div>
</body>
</html>