<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">

<div layout:fragment="content">
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="col-md-7 heading-section ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-4"><strong>나의 일정</strong> 만들기 </h2>
            </div>

            <div class="form-group">
                <div class="row">
                    <input type="text" class="form-control col-4 mb-2 mr-sm-2" placeholder="일정 이름">
                    <button type="button" id="before" class="btn btn-primary mb-2 mr-sm-2">
                        before
                    </button>
                    <button type="button" id="after" class="btn btn-primary mb-2 mr-sm-2">
                        after
                    </button>
                    <button type="button" id="all_save" class="btn btn-primary mb-2 mr-sm-2">
                        SAVE
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4" id="day_1">
                        <h2 class="text-center">Day</h2>
                        <div>
                    <div class="card" id="card_1" style="height: 500px">
                        <div style="height:450px; overflow-y: scroll;" class="mt-4">
                            <div class="card-body">
                                <div class="row">
                                    <button type="button" id="delete_btn" class="btn btn-default mb-2 mr-sm-2 delete_btn">
                                        delete
                                    </button>
                                    <button type="button" id="save" class="btn btn-primary mb-2 mr-sm-2">
                                        SAVE
                                    </button>
                                </div>

                                <!-- 돌하르방 div-->
                                    <div class="block-21 mb-4 mt-4 d-flex" id="box_1">
                                        <a class="blog-img mr-4" style="background:url(http://tong.visitkorea.or.kr/cms/resource/13/656813_image2_1.jpg); background-size: cover; background-repeat: no-repeat;"></a>
                                        <div class="text">
                                            <h3 class="heading"><a href="/detail?content_id=128777">북촌 돌하르방공원</a></h3>
                                            <p>제주특별자치도 제주시 조천읍 북촌서1길 70</p>
                                        </div>
                                    </div>

                                <div class="col text-center">
                                    <button type="button" id="add_btn" class="btn btn-default mb-2 mr-sm-2 add_btn" data-toggle="modal" data-target="#myModal">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col text-center">

                <button type="button" id="card_add" class="btn btn-primary card_add">
                    ADD
                </button>
            </div>

        </div>
    </section>

    <!- modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="ftco-animate fadeInUp ftco-animated">
                        <h3>인근 명소</h3>
                        <div style="height:500px; overflow-y: scroll;">

                            <!-- 카드들 담기는 곳-->
<!--                            <th:block th:each="place : ${placeList}">-->
                                <div class="first-box col-12 ftco-animate fadeInUp ftco-animated">
                                    <div class="block-21 mb-4 d-flex">
                                        <a class="blog-img mr-4" id="img1" style="background:url(http://tong.visitkorea.or.kr/cms/resource/13/656813_image2_1.jpg); background-size: cover; background-repeat: no-repeat;"></a>
                                        <div class="text">
                                            <h3 class="heading" id="name1">북촌 돌하르방공원</h3>
                                            <p id="addr1">제주특별자치도 제주시 조천읍 북촌서1길 70</p>
                                        </div>
                                    </div>
                                </div>
<!--                            </th:block>-->

                            <div class="col-12 ftco-animate fadeInUp ftco-animated">
                                <div class="block-21 mb-4 d-flex">
                                    <a class="blog-img mr-4" style="background:url(http://tong.visitkorea.or.kr/cms/resource/13/656813_image2_1.jpg); background-size: cover; background-repeat: no-repeat;"></a>
                                    <div class="text">
                                        <h3 class="heading" >북촌 돌하르방공원</h3>
                                        <p>제주특별자치도 제주시 조천읍 북촌서1길 70</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 ftco-animate fadeInUp ftco-animated">
                                <div class="block-21 mb-4 d-flex">
                                    <a class="blog-img mr-4" style="background:url(http://tong.visitkorea.or.kr/cms/resource/20/2661520_image2_1.jpg); background-size: cover; background-repeat: no-repeat;"></a>
                                    <div class="text">
                                        <h3 class="heading"><a href="/detail?content_id=2661523">북촌리 4.3길</a></h3>
                                        <p>제주특별자치도 제주시 조천읍 북촌3길 3</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 ftco-animate fadeInUp ftco-animated">
                                <div class="block-21 mb-4 d-flex">
                                    <a class="blog-img mr-4" style="background:url(http://tong.visitkorea.or.kr/cms/resource/01/2676401_image2_1.JPG); background-size: cover; background-repeat: no-repeat;"></a>
                                    <div class="text">
                                        <h3 class="heading"><a href="/detail?content_id=1906195">선흘 동백동산</a></h3>
                                        <p>제주특별자치도 제주시 조천읍 동백로 77</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function(){
            var i = 1;

            $(".card_add").click(function(){
                console.log("card_add");
                var day_id = "#day_" + i;

                var card = "<div class=\"col-4\" id=\"day_" + ++i + "\">" +
                    "<h2 class=\"text-center\">Day</h2>" +
                    "<div>" +
                    "<div class=\"card\" style=\"height: 500px\" id=\"card_" + i + "\">\n" +
                    "<div style=\"height:450px; overflow-y: scroll;\" class=\"mt-4\">\n" +
                    "                        <div class=\"card-body\">\n" +
                    "                            <div class=\"row\" id=\"adding_" + i + "\">\n" +
                    "                                <button type=\"button\" onclick=\"myFunction()\" class=\"btn btn-default mb-2 mr-sm-2 delete_btn\">\n" +
                    "                                    delete\n" +
                    "                                </button>\n" +
                    "                            </div>\n" +
                    "\n" +
                    "                       <div class=\"block-21 mb-4 mt-4 d-flex\" id=\"adding_" + i + "\">\n" +
                    "                               </div>\n" +
                    "\n" +
                    "                            <div class=\"col text-center\">\n" +
                    "                                <button type=\"button\" id=\"add_btn_" + i + "\" class=\"btn btn-default mb-2 mr-sm-2 add_btn_" + i + "\" data-toggle=\"modal\" data-target=\"#myModal\">\n" +
                    "                                    +\n" +
                    "                                </button>\n" +
                    "                            </div>\n" +
                    "                           </div>\n" +
                    "                          </div>\n" +
                    "                         </div>\n" +
                    "                        </div>\n" +
                    "                       </div>\n"


                var card_id = "#card_" + i;
                var box_id = "#box_" + i;
                var add_btn_id = "#add_btn_" + i;
                var adding_id = "#adding_" + i;

                $(day_id).after(card);
                });

                <!-- 추가 박스 -->
                $(add_btn_id).click(function(){
                console.log("add_btn_id");
                });

                    var box = "<div class=\"block-21 mb-4 mt-4 d-flex\" id=\"adding_" + i + "\">\n" +
                    "                           <a class=\"blog-img mr-4\" id=\"img_" + i + "\" style=\"background:url(http://tong.visitkorea.or.kr/cms/resource/13/656813_image2_1.jpg); background-size: cover; background-repeat: no-repeat;\"></a>\n" +
                    "                            <div class=\"text\">\n" +
                    "                              <h3 class=\"heading\" id\>북촌 돌하르방공원</a></h3>\n" +
                    "                              <p>제주특별자치도 제주시 조천읍 북촌서1길 70</p>\n" +
                    "                              </div>\n" +
                    "                               </div>"
                <!-- 추가 박스 data 받아오기 -->
                $(adding_id).after(box);


                });


            <!-- 1번 박스 -->
            $("#add_btn").click(function(){
                console.log("add_btn");
            });

            <!-- 1번 박스 data 받아오기 -->
            var o = 0;
                $(".first-box").click(function(){
                    var img = $("#img1").css('background');
                    img = img.replace(/.*\s?url\([\'\"]?/, '').replace(/[\'\"]?\).*/, '');

                    var name = $("#name1").text();
                    var addr = $("#addr1").text();

                    console.log('img', img);
                    console.log('name', name);
                    console.log('addr', addr);

                    var first = "<div class=\"block-21 mb-4 mt-4 d-flex\" id=\"box_1_" + ++o + "\">\n" +
                    "                           <a class=\"blog-img mr-4\" style=\"background:url(http://tong.visitkorea.or.kr/cms/resource/13/656813_image2_1.jpg); background-size: cover; background-repeat: no-repeat;\"></a>\n" +
                    "                            <div class=\"text\">\n" +
                    "                              <h3 class=\"heading\"><a href=\"/detail?content_id=128777\">" + name + "</a></h3>\n" +
                    "                              <p>제주특별자치도 제주시 조천읍 북촌서1길 70</p>\n" +
                    "                              </div>\n" +
                    "                               </div>"

                    $("#box_1").after(first);
                });

        <!-- 아직아직아직아ㅣㅈㄱ -->
            $("#save").click(function(){
                 console.log("save");
                 $("#div1").save();
            });

            $(".delete_btn").click(function(){
                console.log("delete_btn");
                $("#card").remove();
            });

            // $(".delete").click(deleteDiv(this));


        // function deleteDiv(id){
        //
        // }
    </script>

</div>
</html>