<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">

<div layout:fragment="content">
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="col-md-7 heading-section ftco-animate fadeInUp ftco-animated">
                <span class="subheading">Featured</span>
                <h2 class="mb-4"><strong>나의 일정</strong> 만들기 </h2>
            </div>

            <div class="form-group">
                <div class="row">
                    <input type="text" class="form-control col-4 mb-2 mr-sm-2" placeholder="일정 이름">
                    <button type="button" id="before" class="btn btn-primary mb-2 mr-sm-2">
                        before
                    </button>
                    <button type="button" id="after" class="btn btn-primary mb-2 mr-sm-2">
                        after
                    </button>
                    <button type="button" id="save" class="btn btn-primary mb-2 mr-sm-2">
                        SAVE
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="card col-4" id="card" style="height: 400px">
                        <div class="card-body">
                            <div class="row">
                                <h3 class="card-title mb-2 mr-sm-2">Day1</h3>
                                <input type="text" class="form-control col-6 mb-2 mr-sm-2" placeholder="부제">

                                <button type="button" id="delete_btn" class="btn btn-default mb-2 mr-sm-2 delete_btn">
                                    delete
                                </button>
                            </div>

                            <!-- box -->
                            <input type="text" id="box" class="form-control mb-2 mr-sm-2 box">

                            <div class="col text-center">
                                <button type="button" id="add_btn" class="btn btn-default mb-2 mr-sm-2 add_btn" data-toggle="modal" data-target="#myModal">
                                    +
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col text-center">

                <button type="button" id="card_add" class="btn btn-primary card_add">
                    ADD
                </button>
            </div>

        </div>
    </section>

    <!- modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <script>
        $(document).ready(function(){
            $(".card_add").click(function(){
                console.log("ok");
                $("#card").after("<div class=\"card col-4\" id=\"card\" style=\"height: 400px\">\n" +
                    "                        <div class=\"card-body\">\n" +
                    "                            <div class=\"row\">\n" +
                    "                                <h3 class=\"card-title mb-2 mr-sm-2\">Day1</h3>\n" +
                    "                                <input type=\"text\" class=\"form-control col-6 mb-2 mr-sm-2\" placeholder=\"부제\">\n" +
                    "                                <button type=\"button\" onclick=\"myFunction()\" class=\"btn btn-default mb-2 mr-sm-2 delete_btn\">\n" +
                    "                                    delete\n" +
                    "                                </button>\n" +
                    "                            </div>\n" +
                    "\n" +
                    "                            <!-- box -->\n" +
                    "                            <input type=\"text\" class=\"form-control mb-2 mr-sm-2 box\">\n" +
                    "\n" +
                    "                            <div class=\"col text-center\">\n" +
                    "                                <button type=\"button\" class=\"btn btn-default mb-2 mr-sm-2 add_btn\" data-toggle=\"modal\" data-target=\"#myModal\">\n" +
                    "                                    +\n" +
                    "                                </button>\n" +
                    "                            </div>\n" +
                    "\n" +
                    "                        </div>");
            });

            $("#add_btn").click(function(){
                console.log("ok");
                $("#box").after("<input type=\"text\" class=\"form-control mb-2 mr-sm-2 box\">");
            });

            $(".delete_btn").click(function(){
                console.log("ok");
                $("#card").remove();
            });

            // $("button").click(function(){
            //     $("#div1").remove();
            // });

            // $(".delete").click(deleteDiv(this));

        });
        // function deleteDiv(id){
        //
        // }
    </script>

</div>
</html>