<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">

<div layout:fragment="content">
  <section class="ftco-section bg-light">
    <div class="container">
      <br>
<!--      <div class="col-md-12 text-center">-->
<!--        <h2 class="mb-4"><span th:text="${area}"></span> 추천일정</h2>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="col-md-4 ftco-animate fadeInUp ftco-animated">-->
<!--          <div class="destination">-->
<!--            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-1.jpg);">-->
<!--              <div class="icon d-flex justify-content-center align-items-center">-->
<!--                <span class="icon-search2"></span>-->
<!--              </div>-->
<!--            </a>-->
<!--            <div class="text p-3">-->
<!--              <div class="d-flex">-->
<!--                <div class="one">-->
<!--                  <h3><a href="#">Paris, Italy</a></h3>-->
<!--                  <p class="rate">-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star-o"></i>-->
<!--                    <span>8 Rating</span>-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="two">-->
<!--                  <span class="price">$200</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p>Far far away, behind the word mountains, far from the countries</p>-->
<!--              <p class="days"><span>2 days 3 nights</span></p>-->
<!--              <hr>-->
<!--              <p class="bottom-area d-flex">-->
<!--                <span><i class="icon-map-o"></i> San Franciso, CA</span>-->
<!--                <span class="ml-auto"><a href="#">Discover</a></span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-4 ftco-animate fadeInUp ftco-animated">-->
<!--          <div class="destination">-->
<!--            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-2.jpg);">-->
<!--              <div class="icon d-flex justify-content-center align-items-center">-->
<!--                <span class="icon-search2"></span>-->
<!--              </div>-->
<!--            </a>-->
<!--            <div class="text p-3">-->
<!--              <div class="d-flex">-->
<!--                <div class="one">-->
<!--                  <h3><a href="#">Paris, Italy</a></h3>-->
<!--                  <p class="rate">-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star-o"></i>-->
<!--                    <span>8 Rating</span>-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="two">-->
<!--                  <span class="price">$200</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p>Far far away, behind the word mountains, far from the countries</p>-->
<!--              <p class="days"><span>2 days 3 nights</span></p>-->
<!--              <hr>-->
<!--              <p class="bottom-area d-flex">-->
<!--                <span><i class="icon-map-o"></i> San Franciso, CA</span>-->
<!--                <span class="ml-auto"><a href="#">Discover</a></span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-4 ftco-animate fadeInUp ftco-animated">-->
<!--          <div class="destination">-->
<!--            <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-3.jpg);">-->
<!--              <div class="icon d-flex justify-content-center align-items-center">-->
<!--                <span class="icon-search2"></span>-->
<!--              </div>-->
<!--            </a>-->
<!--            <div class="text p-3">-->
<!--              <div class="d-flex">-->
<!--                <div class="one">-->
<!--                  <h3><a href="#">Paris, Italy</a></h3>-->
<!--                  <p class="rate">-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star"></i>-->
<!--                    <i class="icon-star-o"></i>-->
<!--                    <span>8 Rating</span>-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="two">-->
<!--                  <span class="price">$200</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p>Far far away, behind the word mountains, far from the countries</p>-->
<!--              <p class="days"><span>2 days 3 nights</span></p>-->
<!--              <hr>-->
<!--              <p class="bottom-area d-flex">-->
<!--                <span><i class="icon-map-o"></i> San Franciso, CA</span>-->
<!--                <span class="ml-auto"><a href="#">Discover</a></span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="col-md-12 text-center">
        <h2 class="mb-4"><span th:text="${keyword}"></span> 연관 추천여행지</h2>
      </div>
      <br>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item  col-3 text-center">
          <a class="nav-link active" data-toggle="tab" href="#attraction" style="font-weight: bold; font-size: 20px">관광명소</a>
        </li>
        <li class="nav-item col-3 text-center">
          <a class="nav-link" data-toggle="tab" href="#food" style="font-weight: bold; font-size: 20px">음식점</a>
        </li>
        <li class="nav-item col-3 text-center">
          <a class="nav-link" data-toggle="tab" href="#shop" style="font-weight: bold; font-size: 20px">쇼핑</a>
        </li>
        <li class="nav-item col-3 text-center">
          <a class="nav-link" data-toggle="tab" href="#festival" style="font-weight: bold; font-size: 20px">축제</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div id="attraction" class="container tab-pane active"><br>
          <div class="row d-flex">

            <th:block th:each="place : ${attractionList}">
            <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
              <div class="blog-entry align-self-stretch" style="width:245px">
                <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.imageUrl} + '); background-size: cover; background-repeat: no-repeat;'" >
                </a>
                <div class="text p-4 d-block">
                  <h3 class="heading mb-2" style="font-weight: bold;"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.placeName}"></a></h3>
                  <div class="mb-4"><a th:text="${place.addr1}"></a></div>
                </div>
              </div>
              </div>
            </th:block>
          </div>
        </div>

        <div id="food" class="container tab-pane fade"><br>
          <div class="row d-flex">
            <th:block th:each="place : ${foodList}">
              <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                <div class="blog-entry align-self-stretch" style="width:245px">
                  <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.imageUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                  </a>
                  <div class="text p-4 d-block">
                    <h3 class="heading mb-2" style="font-weight: bold;"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.placeName}"></a></h3>
                      <div class="mb-4"><a th:text="${place.addr1}"></a></div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>

        <div id="shop" class="container tab-pane fade"><br>
          <div class="row d-flex">
            <th:block th:each="place : ${shopList}">
              <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                <div class="blog-entry align-self-stretch" style="width:245px">
                  <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.image} + '); background-size: cover; background-repeat: no-repeat;'">
                  </a>
                  <div class="text p-4 d-block">
                    <h3 class="heading mb-2" style="font-weight: bold;"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.placeName}"></a></h3>
                      <div class="mb-4"><a th:text="${place.addr1}"></a></div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>

        <div id="festival" class="container tab-pane fade"><br>
          <div class="row d-flex">
            <th:block th:each="place : ${festivalList}">
              <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                <div class="blog-entry align-self-stretch" style="width:245px">
                  <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.imageUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                  </a>
                  <div class="text p-4 d-block">
                    <h3 class="heading mb-2" style="font-weight: bold;"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.placeName}"></a></h3>
                      <div class="mb-4"><a th:text="${place.addr1}"></a></div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
</html>