<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">

<div layout:fragment="content">
    <section class="ftco-section bg-light">
        <div class="container">

            <div class="col-md-12 text-center">
                <h2 class="mb-4"><strong>지역별</strong> 여행지 추천</h2>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#all" style="font-size: 18px">ALL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#seoul" style="font-size: 18px">서울</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#incheon" style="font-size: 18px">인천</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#gyeonggi" style="font-size: 18px">경기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#busan" style="font-size: 18px">부산</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ulsan" style="font-size: 18px">울산</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#daegu" style="font-size: 18px">대구</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#gwangju" style="font-size: 18px">광주</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#daejeon" style="font-size: 18px">대전</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#jeju" style="font-size: 18px">제주</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="all" class="container tab-pane active"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '39'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fa-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <div id="seoul" class="container tab-pane fade"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '1'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fas-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <div id="incheon" class="container tab-pane fade"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '2'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fas-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>

                <div id="gyeonggi" class="container tab-pane fade"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '31'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fas-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <div id="busan" class="container tab-pane fade"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '6'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fas-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>

                <div id="ulsan" class="container tab-pane fade"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '7'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fas-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>

                <div id="daegu" class="container tab-pane fade"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '4'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fas-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>

                <div id="gwangju" class="container tab-pane fade"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '5'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fas-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>

                <div id="daejeon" class="container tab-pane fade"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '3'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fas-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>

                <div id="jeju" class="container tab-pane fade"><br>
                    <div class="row d-flex">
                        <th:block th:each="place : ${placeList}">
                            <th:block th:if="${place.areaCode} == '39'">
                                <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                                    <div class="blog-entry align-self-stretch" style="width:245px">
                                        <a th:href="@{/detail?content_id={id}(id=${place.contentId})}" class="block-20" th:style="'background:url(' + ${place.thumbnailUrl} + '); background-size: cover; background-repeat: no-repeat;'">
                                        </a>
                                        <div class="text p-4 d-block">
                                            <h3 class="heading mt-3"><a th:href="@{/detail?content_id={id}(id=${place.contentId})}" th:text="${place.name}"></a></h3>
                                            <div><a th:text="${place.addr1}"></a></div>
                                            <div class="meta mb-3">
                                                <div><span><i class="fas fa-heart"></i> 3</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>

            </div>

            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul class="pagination">

                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>

                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>

                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </section>

</div>
</html>